.subscribesection{
    background-image: url('../../assets/HomeImages/NFT Mint/Mask.png');
    padding: 60px 0;
}
.subscribe-text1{
    height: 154px;
  width: 636px;
  color: #FFFFFF;
  font-family: Kartooni;
  font-size: 55px;
  letter-spacing: 0.55px;
  line-height: 77px;
  }
  .subscribe-text2{
    height: 108px;
  width: 479px;
  color: #BDBDBD;
  font-family: Kartooni;
  font-size: 26px;
  letter-spacing: 0.26px;
  line-height: 36px;
  }
  .subscribe-text{
    justify-content: space-between;
      display: flex;
  }
.input-email{
        height: 94px;
        width: 905px;
        margin-top: 50px;
        background-color: rgb(170, 38, 170);    
}
.email-button{
    display: flex;
    justify-content: space-around;
}
.subscribe-button{
    height: 94px;
  width: 253px;
  margin-top: 50px;
  border-radius: 12px;
  background-color: #D5F70A;
}
.button{
  margin-left: 20px;
  font-size: larger;
  font-weight: 600;
  height: 90px;
  width: 250px;
  color: #191D23;
  font-size: 30px;
  border-radius: 12px;
  background-color: #D5F70A;
}
.subscribesection .input{
  width: 100%;
  font-size: 30px;
  padding: 20px;
  color: #fff;
  font-family: kartooni;
  border-radius: 10px;
  background-color: #1B1B21;
  border: none;
  outline: none;
}
.input::placeholder{
  font-size: larger;
  color: #BDBDBD;
  font-size: 30px;
}
  .vector-image{
   padding: 60px 0;
   text-align: center;
  }