.homesection{
    padding-top: 180px;
    background-image: url('../../assets/HomeImages/NFT Mint/homeback.png');
    background-size: cover;
    min-height: 800px;
    background-repeat: no-repeat;
    background-color: rgb(23, 23, 23);
}
.section h1{
    color: white;
}
.firstp{
    width: 651px;
    color: #FFFFFF;
    font-family: MisterVampire;
    font-size: 49px;
    letter-spacing: 3.76px;
    line-height: 75px;
}
.p2{
    color: #D5F70A;
    font-family: Kartooni;
    font-size: 40px;
    letter-spacing: 0.4px;
    line-height: 45px;
    padding-top: 20px;
}
.mintbtn{
    /* height: 58px; */
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #D5F70A;
    color: #1D1D23;
    font-family: Kartooni;
    font-size: 22px;
    letter-spacing: 0.22px;
    line-height: 29px;
    text-align: center;
}
.p3{
    /* height: 36px; */
    color: #F3F3F3;
    font-family: Kartooni;
    letter-spacing: 0.24px;
    line-height: 36px;
    justify-content: center;
    padding: 12px 0px 0px 40px;
    font-size: 24px;
    margin: 0;
}
.p4{
    max-width: 482px;
    color: #FFFFFF;
    font-family: Kartooni;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
}
.spanp4{
    color: #D5F70A;
}
.bottom1{
    color: #F3F3F3;
    font-family: Kartooni;
    font-size: 24px;
    letter-spacing: 0.3px;
    margin: 0;
}
.bottom2{
    color: #F3F3F3;
    font-family: Kartooni;
    font-size: 18px;
    letter-spacing: 0.3px;
    margin: 0px;
}
.bottom2:nth-child(1){
    padding: 0 !important;
}
.section2{
    background-color: black;
    padding: 70px 0;
}
   .lockimg{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.lockp1{
    width: 300px;
    color: #F3F3F3;
    margin: 0;
    font-family: Kartooni;
    font-size: 30px;
    margin-left: 20px;
    letter-spacing: 0.3px;
}
.lockp2{
    width: 390px;
    margin-left: 50px;
    color: #BDBDBD;
    font-family: Kartooni;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 28px;
    margin-bottom: 0;
}

.fast_transaction_div{
    /* margin-left: 60px; */
}

.lockp4{
    width: 390px;
    margin-left: 50px;
    color: #BDBDBD;
    font-family: Kartooni;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 28px;
}

._loading_overlay_content{
    display: inherit;
    position: fixed;
    font-size: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 60px;
    height: 60px;
}
.banner-items div:not(:last-child){
    margin-right: 20px;
}
@media screen and (max-width: 1199.98px) {   
    .banner-items div:not(:last-child){
        margin-right: 50px;
    }
    .firstp {
        width: 100%;
    }
}
@media screen and (max-width: 992px){
.banner-items div:not(:last-child) {
    margin-right: 30px;
}
.homesection {
    padding-top: 150px;
}
}
@media screen and (max-width: 768px){
    .firstp {
        font-size: 35px;
        line-height: 55px;
    }
    .bottom2{
        font-size: 14px;
    }
    .banner-items{
        gap: 20px 0;
        flex-wrap: wrap;
    }
    .banner-items div{
        margin-right: 0 !important;
        flex: 50%;
    }
}
@media screen and (max-width: 576px){
    .firstp {
        font-size: 22px;
        line-height: 35px;
    }
    
.p2{
    font-size: 24px;
}
.p3{
    font-size: 18px;
    padding: 0px 0px 0px 20px;
}
.mintbtn{
    font-size: 18px;
    padding: 5px 15px;
}
.p4{
    font-size: 10px;
    line-height: 22px;
}
.homesection {
    padding-top: 120px;
}
}