.homesection{
    padding-top: 180px;
    background-image: url('../../assets/HomeImages/NFT Mint/homeback.png');
    background-size: cover;
    min-height: 800px;
    background-repeat: no-repeat;
    background-color: rgb(23, 23, 23);
    padding-bottom: 50px;
}
.cards3{
    display: flex;
    margin-left: 48px;
    
}
.time{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img{
    padding: 33px !important;
}
.cards2{
    margin-left: 15%;
}
.cards3a{
    margin-left: 15%;
}
/* .cards{
        height: 500.26px;
        width: 362.83px;
      
} */
.firstpara{
  height: 168px;
  width: 917px;
  color: #FFFFFF;
  font-family: MisterVampire;
  font-size: 48px;
  letter-spacing: 0.48px;
  line-height: 84px
}
.cards{
    border-radius: 15px;
}
