.leftHeading {
    color: #FFFFFF;
    font-family: MisterVampire;
    font-size: 49px;
    letter-spacing: 3.76px;
    line-height: 75px;
  }
  .section{
    background: #000000;
  }
  .leftColumn {
    height: max-content;
    margin-top: 20px;
    padding-left: 70px;
  }
  .row {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
    
  .leftText {
    color: #F3F3F3;
    font-family: Kartooni;
    font-size: 24px;
    letter-spacing: 0.24px;
    line-height: 36px;
  }
  
  .content {
    color: #F3F3F3;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #d0d0d2;
    border-radius: 16px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    background-color: #FFFFFF;
  }
  
  .text {
    color: #838383;
    font-family: "kartooni";
    font-size: 18px;
    padding-right: 53px;
    padding-left: 20px;
  }
  
  .button {
    color: #0B213E;
    font-family: "kartooni";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
    background: transparent;
  }