.section{
    padding-top: 20px;
    position: fixed;
    width: 100%;
    background: transparent;
}
.ul{
    margin-left: auto;
}
.navbar li{
    height: 20px;
    width: 124px;
    color: #ffff !important;
    font-family: "Kartooni";
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}
.navbar-brand{
    color: #ffff !important;
    letter-spacing: 4px;
}
.nav-link{
    letter-spacing: 4px;
    color: #ffff !important;
}
.navbar li :nth-child(1){
    list-style: none;
}
.contactUs{
    border-right: 2px solid gray;
}
/* .navlogo{
    height: 33.64px;
    width: 35.15px;
    transform: rotate(-8.57deg);
} */
.nab{
    display: flex;
}
.ull{
    display: flex;
    gap: 71px;
    list-style: none;
    text-align: center;
    margin: auto;
    font-size: larger;
    font-weight: 800;
}
.ull li{
    cursor: pointer;
}
.pp{
    color: rgb(35, 35, 35);
    font-size: 18px;
    padding-left: 40px;
}
.delete{
    color: white;
    background-color: red;
    padding: 5px 25px 5px 25px;
}
.formline1{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.formline1 input{
    width: 262px;
}