
.how-to-mint {
    color: #FFFFFF;
    font-family: MisterVampire;
    font-size: 49px;
    letter-spacing: 3.76px;
    line-height: 75px;
  }

  .mintsection{
    background-image: url('../../assets/HomeImages/NFT Mint/Pattern Copy@2x.png'),url('../../assets/HomeImages/NFT Mint/Mask.png');
    height: 100%;
    background-position: left 240px, center;
    background-repeat: no-repeat, repeat;
    background-size: 50%, cover;
    padding: 50px 0 0;
  }
  .aftermint{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
  }

  .connect_wallet{
    display: flex;
    color: white;
  }
  .connect_wallet:not(:last-child){
    margin-right: 15px;
  }
  .one{
    height: 75px;
    width: 33px;
    color: #CC4B8B;
    font-family: MisterVampire;
    font-size: 49px;
    letter-spacing: 3.76px;
    line-height: 75px;
  }
  .two{
    height: 75px;
    width: 38px;
    color: #D5F70A;
    font-family: MisterVampire;
    font-size: 49px;
    letter-spacing: 3.76px;
    line-height: 75px;
  }
  .three{
    height: 75px;
    width: 37px;
    color: #D84646;
    font-family: MisterVampire;
    font-size: 49px;
    letter-spacing: 3.76px;
    line-height: 75px;
  }
  .four{
    height: 75px;
    width: 41px;
    color: #CCBA4B;
    font-family: MisterVampire;
    font-size: 49px;
    letter-spacing: 3.76px;
    line-height: 75px;
  }
  .about_card{
    background: rgb(53, 53, 53);
    width: 18.2rem;
    box-shadow: rgb(0 0 0) 70.33px 50.33px 90.66px 0px;
    position: relative;
  }
  .connect_your_wallet{
    max-width: 210px;
    color: #F3F3F3;
    font-family: Kartooni;
    font-size: 30px;
    letter-spacing: 0.3px;
    line-height: 42px;
  }
  .select_your_quantity{
    max-width: 210px;
    color: #F3F3F3;
    font-family: Kartooni;
    font-size: 30px;
    letter-spacing: 0.3px;
    line-height: 42px;
  }
  .confirm-the-transaction{
    max-width: 210px;
    color: #F3F3F3;
    font-family: Kartooni;
    font-size: 30px;
    letter-spacing: 0.3px;
    line-height: 42px;
  }
  .receive_your_nfts{
    max-width: 210px;
    color: #F3F3F3;
    font-family: Kartooni;
    font-size: 30px;
    letter-spacing: 0.3px;
    line-height: 42px;
  }

  .numbers{
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
  }
.co
  .alphabets{
    /* margin-top: 10px;
    margin-right: 50px; */
  }
/* 
  .pattern_pic{
    height: 772.59px;
    width: 772.59px;
  } */
  
  .section_about{
    padding: 120px 0 300px;
  }

  /* .data_section{
    margin-top: 115px;
  } */

  .about_us{
  color: #FFFFFF;
  font-family: MisterVampire;
  font-size: 49px;
  letter-spacing: 3.76px;
  line-height: 75px;
  }

  .contrary_to_popular{
  color: #F3F3F3;
  font-family: Kartooni;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 42px;
  }

.mint_cards{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.card1_pic{
    height: 253.21px;
    width: 253.21px;
    border-radius: 10.91px;
  
}
.layer-dimensions{
  color: white;
}
.timer-line{
  font-size: 1.4rem;
}
.timer-value{
  font-size: 1.2rem;
}
.timer-color{height: 19.65px;
  font-size: 1.4rem;
  margin-left: 20%;
  display: flex;
  margin-top: 7%;
  width: 249.97px;
  color: rgba(238,238,238,0.7);
  font-family: Roboto;
  font-size: 13.1px;
  font-weight: 500;
  letter-spacing: 0.13px;
  line-height: 17px;
}

  /* .card1{
    height: 397.28px;
    width: 302.7px;
    box-shadow: 48.33px 48.33px 96.66px 0 #000000;
  border-radius: 3%;
margin-top: 187px;
margin-left: 248px;
margin-right: 221px;
margin-bottom: 187px;
} */
.card_outer{
  width: 100%;
  position: relative;
}
.card123{
  position: absolute;
  top: 20%;
  max-width: 352px;
  left: 30%;
}
.card1234{
  position: relative;
  max-width: 352px;
}
.time h4{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 20px;
}
.time h5{
  color: #D5F70A;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.22px;
  line-height: 28px;
}
.about_bandge{    
  position: absolute;
  top: 10%;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 32.74px;
  width: 73.13px;
  border-radius: 109.14px;
}
.about_bandge img{
  height: 15.55px;
  width: 16.37px;
}
.about_bandge p{
  color: #1D1D23;
  font-size: 15.28px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 20px;
  margin: 0 0 0 5px;
}
@media screen and (max-width: 1199.98px){
  .connect_your_wallet,.confirm-the-transaction,.select_your_quantity{
    font-size: 24px;
    line-height: 30px;
  }
  .one,.two,.three,.four{
    font-size: 40px;
    line-height: 45px;
  }
  .about_card{
    width: 16rem !important;
  }
  .mintsection{
    background-image: url('../../assets/HomeImages/NFT Mint/Mask.png');
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 992px) {
  .aftermint{
    flex-wrap: wrap;
    gap: 20px 0;
  }
  .aftermint .connect_wallet{
    flex: 50%;
  }
  .card_btn{
    padding: 10px 10px !important;
  }
  .connect_wallet:not(:last-child) {
    margin-right: 0px;
}
.data_section{
  margin-top: 100px;
}
.about_us{
  text-align: center;
}
.mintsection{
  padding: 80px 0 0;
}
.card1234{
  margin: auto;
}
.card123{
  left: 45%;
}
.section_about {
  padding: 80px 0 0;
}
}
@media screen and (max-width: 768px){
  .card123{
    left: 40%;
  }
}
@media screen and (max-width: 576px){
  .how-to-mint{
    font-size: 35px;
    line-height: 45px;
  }
  .aftermint .connect_wallet{
    flex: 100%;
  }
  .about_card{
    width: 12rem !important;
  }
  .about_us{
    font-size: 35px ;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .contrary_to_popular{
    font-size: 16px;
    line-height: 32px;
  }
  .card_btn {
    padding: 8px 5px !important;
    font-size: 12px;
}
  .time h5{
    font-size: 16px;
  }
  .time h4{
    font-size: 14px;
    margin: 0;
  }
  .time img{
    width: 15px;
  }
  .time span{
    font-size: 12px;
  }
}