*{
  margin: 0;
}
@font-face {
  font-family: MisterVampire;
  src: url('./assets/fonts/MISTV___.TTF');
}
@font-face {
  font-family: Kartooni;
  src: url('./assets/fonts/Kartooni.ttf');
}
.accordion-button:not(.collapsed),.accordion-button:focus{
  color: #0B213E;
  background: transparent;
  box-shadow: none;
  border: none;
}